@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary-color: #d4af37;
  --primary-color-dark: #bc9b2f;
  --text-dark: #0f2027;
  --text-dark-light: #164559;
  --text-dark-light-2: #1c5973;
  --background-section: #f4f1ea;
  --text-light: #78716c;
  --white: #fff;
  --max-width: 1200px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Georgian", sans-serif;
}
img {
  width: 100%;
  display: block;
}
.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: var(--primary-color-dark);
}
html,
body {
  scroll-behavior: smooth;
}
/* .section_container {
  width: 90%;
  margin: 0 auto;
  padding: 4rem 1rem;
} */
.desktop_nav {
  display: none;
}

.mobile_nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9;
}
.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 2rem; */
  background-color: var(--primary-color);
  padding: 1rem 1.23rem;
}
a {
  text-decoration: none;
}
.logo {
  font-size: 0.9rem;
  color: var(--white);
}
.nav_menu_btn {
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
}
.nav_links {
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color-dark);
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
}

.nav_links.open {
  transform: translateY(0);
}
.nav_links a {
  position: relative;
  isolation: isolate;
  padding-bottom: 8px;
  color: var(--white);
  transition: 0.3s;
}

/* img {
  width: 100vh;
  display: flex;
} */

main .hero-container {
  /* max-width: 1200px;
  height: 100vh;
  margin: auto;
  padding: 5rem 1rem;

  padding: 10rem 15rem; */
  width: 100%;
  margin: 0 auto;
  padding: 8rem 0rem;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./img/landscape\ 1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-container h1 {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0 auto;
  line-height: 2.5rem;
  color: var(--white);
  text-align: center;
}

.hero-container span {
  color: var(--primary-color);
}
.hero-container p {
  font-size: 0.8rem;
  margin-top: 1rem;
  line-height: 1.2rem;
  opacity: 0.8;
  color: var(--white);
  text-align: center;
  padding: 0 2.6rem;
}

/* --------- ABOUT SECTION--- */

.about-container {
  background-color: var(--white);
  width: 90%;
  margin: 0 auto;
  padding: 4rem auto;
}

.section-content .main_text {
  color: var(--text-dark);
  font-size: 1.8rem;
  text-align: center;
  margin-top: 4rem;
}
.section-content .paragraph,
.section-content .paragraph-2 {
  color: var(--text-light);
  font-size: 1rem;
  line-height: 1.4;
  padding: 1rem 0;
  text-align: center;
}

.rating {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.number {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #cfcfcf;
  padding-right: 1rem;
}

.number:nth-child(2),
.number:nth-child(4) {
  border-right: none;
}

.rating .details {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  text-align: left;
  color: var(--text-dark);
}

.details_content {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--text-light);
  text-align: left;
}
.paragraph-2 {
  color: var(--text-light);
  font-size: 1rem;
  text-align: center;
  line-height: 1rem;
  padding: 0.6rem;
}
.service_container {
  background-color: var(--white);
  width: 90%;
  margin: 0 auto;
  padding: 4rem auto;
}
.service_group {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.service_card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.service_image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.service_contents {
  padding: 12px;
}

.service_contents .main {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.service_contents .write-up {
  color: var(--text-light);
  padding-top: 0.8rem;
}

.service_contents .figure {
  color: var(--text-dark);
  padding: 10px 0;
  font-weight: 500;
  margin-bottom: 0;
}
.card-btn {
  width: 100%;
}

/* -------- EXPLORE CONTAINER -------------- */

.explore_container {
  background-color: var(--white);
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
}

.explore_container .section_content {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.explore_image img {
  max-width: 100%;
}
.right-part {
  max-width: auto;
}

.right-part .main_text {
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 0.2rem;
  padding-top: 0;
}

.discover_list {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text-light);
  padding-bottom: 2.5rem;
}

footer {
  background-color: var(--text-dark);
}
.footer_container {
  width: 86%;
  margin: 0 auto;
}
.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--white);
  padding: 2rem 0;
  gap: 2rem;
}

.sub_text {
  font-size: 1.2rem;
  font-weight: 350;
  line-height: 1.6;
  margin-top: 2rem;
  opacity: 0.85;
  text-align: center;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-bottom: 1px solid rgb(170, 170, 170); */
  background: transparent;
  width: 100%;
  gap: 0.7rem;
  margin-top: 2.8rem;
}

.input-field input {
  align-items: left;
  border: 1px solid rgb(170, 170, 170);
  width: 100%;
  border-radius: 5px;
  background: transparent;
}
.custom-input::placeholder {
  align-items: left;
  padding-top: 5px;
}
.custom-input {
  flex-grow: 1;
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  outline: none;
  padding: 0.625rem;
  align-items: center;
}
.custom-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.subscribe-btn {
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 5px;
  border: none;
  padding: 10px 25px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
  width: 100%;
}

.subscribe-btn:hover {
  background-color: var(--primary-color-dark);
}

/* hr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2rem auto;
  opacity: 0.2;
} */
.questionnaire {
  display: flex;
  flex-direction: column;
  opacity: 0.65;
  margin: 1rem auto;
  color: var(--white);
}

.same_set h5 {
  font-size: 0.9rem;
  font-weight: 400;
  padding-bottom: 1.6rem;
}

.icons-tag a {
  text-decoration: none;
  color: var(--white);
}

.icons-tag .sets {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.sets a {
  padding-bottom: 0.6rem;
}

.sets p {
  font-size: 0.8rem;
  font-weight: 350;
}

.list_pages {
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 0.8rem;
  font-weight: 350;
  padding-top: 2rem;
}

.mini_items {
  display: flex;
  flex-direction: column;
}
.mini_items .item-top {
  padding-bottom: 0.7rem;
}
/* .logo-below {
  padding-left: 5.2rem;
} */
.logo-below h5 {
  font-size: 2.4rem;
  font-weight: 400;
  padding-top: 0.5rem;
}

.logo-below .address {
  font-size: 0.9rem;
  font-weight: 350;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
  padding-top: 0.5rem;
}

.copyright {
  width: 100%;
  height: 40px;
  color: var(--white);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 350;
  opacity: 0.8;
}

.seperator {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 2rem auto;
}

/* MEDIA CORRECTION */

@media all and (min-width: 768px) {
  .nav_links {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    font-size: 1rem;
  }
  .nav_links a {
    text-decoration: none;
  }
  main .hero-container {
    height: 100vh;
  }
  .hero-container h1 {
    font-size: 2.8rem;
    margin-top: 8rem;
    line-height: 2.8rem;
  }

  .hero-container p {
    font-size: 1.2rem;
    margin-top: 1.2rem;
    line-height: 1.5rem;
  }

  .number:nth-child(2),
  .number:nth-child(4) {
    border-right: 2px solid #cfcfcf;
  }
  .rating {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .number:last-child {
    border-right: none;
  }

  /* ------------------------------------ */
  /*  LAST CHANGES MADE */
  .service_contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  .service_contents .btn {
    margin-top: 0;
  }

  /* -------------------------- */
  .section-content .paragraph {
    padding: 1rem 5rem;
  }
  .service_group {
    grid-template-columns: repeat(3, 1fr);
  }

  .details_content {
    font-size: 0.9rem;
  }
  .service_contents .figure {
    margin-top: 0;
  }

  /* .service_card {
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
    height: 100%;
    gap: 15px;
    padding: 20px;
  } */
  .explore_container.section_content {
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.6rem;
  }

  .explore_image img {
    max-width: 100%;
  }
  .right-part {
    max-width: auto;
  }
  .input-field {
    width: 300px;
    gap: 0.7rem;
    margin-top: 2.8rem;
  }
  .input-field input {
    border: 1px solid rgb(170, 170, 170);
    width: 100%;
    border-radius: 5px;
    background: transparent;
  }
  .custom-input::placeholder {
    align-items: left;
    padding-top: 5px;
  }
  .subscribe {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
  }
}

@media all and (min-width: 1024px) {
  .mobile_nav {
    display: none;
  }
  .logo-1 {
    color: var(--white);
    font-size: 1.2rem;
  }
  main .hero-container {
    height: 100vh;
  }
  .hero-container h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 8rem;
    line-height: 2.8rem;
  }

  .hero-container p {
    font-size: 1.2rem;
    margin-top: 1.2rem;
    line-height: 1.5rem;
  }
  .desktop_nav {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
  }
  .nav_section {
    width: 86%;
    margin: 0 auto;
    padding: 1.8rem 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .nav_links_desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
  .nav_links_desktop li {
    list-style: none;
  }
  .nav_links_desktop li a {
    text-decoration: none;
    color: var(--white);
  }
  .btn-nav {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--text-dark-light);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  .btn-nav:hover {
    background-color: var(--text-dark-light-2);
  }
  .explore_container .section_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
  }
  .explore_image img {
    max-width: 50%;
  }
  .right-part {
    max-width: 50%;
  }

  .rating {
    margin: 0 10rem;
  }
  /* ------FOOTER -------- */
  .subscribe {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    gap: 2rem;
  }
  .sub_text {
    font-size: 1.8rem;
    text-align: left;
  }
  .input-field {
    width: 300px;
    gap: 0.7rem;
    margin-top: 2.8rem;
  }
  .input-field input {
    border: 1px solid rgb(170, 170, 170);
    width: 100%;
    border-radius: 5px;
    background: transparent;
  }
  .custom-input::placeholder {
    align-items: left;
    padding-top: 5px;
  }
  .questionnaire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4rem;
  }
  .list_pages {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1rem;
  }

  .logo-below {
    margin-top: 1rem;
  }
  .explore_image img {
    max-width: 800px;
  }
  .right-part {
    max-width: auto;
  }
}
